*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:sans-serif;
    
}
:root{
   
    --gray:#EDEDED;
    --black:#4F4F4F;
    --red:#FF3232;
    
    
}
.Crear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    height:100vh;
}

.Crear h3{
    color:var(--gray);
    
}

.Crear input[type="text"], .registration input[type="password"]{
    border:0;
    margin:20px auto;
    text-align:center;
    border:2px solid var(--gray);
    padding:14px 10px;
    display:block;
    width:200px;
    outline:none;
    border-radius:24px;
    transition: 0.25s;
    background-color: var(--gray);

}

.Crear input[type="text"]:focus,.registration input[type="password"]:focus{
    width:250px;
    border-color:var(--red);;
}

.but1{
    border:0;
    width: 300px;
    background-color:var(--gray);
    border-radius:5px;
    outline:none;
    height: 30px;
    margin-bottom: 15px;
}

.but1:hover{
    background-color: var(--red);
    cursor: pointer; 
}

