<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <html>
        <head>
            <title>Conciertos</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
            <h1 th:text="${titulo}"></h1>
            <table>
                <thead>
                    <tr>

                        <th>Artista Asociado</th>
                        <th>Costo del evento</th>
                        <th>Fecha</th>
                        <th>Capacidad Maxima</th>
                        <th>Lugar</th>

                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${conciertos} ">
                    <tr>

                        <td th:text="${user.getArtista_Asociado}"></td>
                        <td th:text="${user.getCosto_evento}"></td>
                        <td th:text="${user.getFecha}"></td>
                        <td th:text="${user.getCapacidad}"></td>
                        <td th:text="${user.getLugar}"></td>
                        <td>
                            <a th:href="@{/delete/{id}(id=${user.getId})}">Delete</a></td>

                    </tr>
                </th:block>
            </tbody>
        </table>
    </body>
</html>

