<!DOCTYPE html>


<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body background="images/imagen1.jpeg">
        <div class="Crear">
            <h3>Log In</h3>
            <input type="text" name="Artistas_asociados" placeholder="Artistas" />
            <input type="text" name=" costo_evento" placeholder="Costo" />
             <input type="text" name="fecha" placeholder="Fecha" />
              <input type="text" name="capacidad" placeholder="Capacidad" />
               <input type="text" name="lugar" placeholder="lugar" />
               
            <a href="Conciertos.html"><button class="but1" type="submit">Sign In</button></a>
            <a href="Crear.html"><button class="but1">Don't have an account?</button></a>
        </div>

    </body>
</html>
